src/test/resources/demo3d/reglesurba/reglesUrba.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
	<!--
		== Generated by hyperModel (www.XMLmodeling.com) Tue Oct 27 11:26:06
		CET 2009 == Model: reglesUrba == Package: reglesUrba
	-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
	 attributeFormDefault="unqualified" elementFormDefault="unqualified">
	<xsd:element name="PLU"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<xsd:annotation>
			<xsd:documentation>
				La racine du schema est la zone PLU, elle contiendra les informations
				sur les differentes regles d'une zone
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="zonePLU" type="ZonePLU" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ================================================== -->
	<!-- =====  Complex Type Definitions  -->
	<!-- ================================================== -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  AngleToit  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="AngleToit">
		<xsd:complexContent>
			<xsd:extension base="Consequence">
				<xsd:sequence>
					<xsd:element name="AngleMin" type="xsd:double" />
					<xsd:element name="AngleMax" type="xsd:double" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Antecedent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Antecedent">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string" />
				</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  BandeConstructibilite  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="BandeConstructibilite">
		<xsd:complexContent>
			<xsd:extension base="Consequence">
				<xsd:sequence>
					<xsd:element name="fichierBande" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Consequence  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Consequence">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string" />
				</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ConsequenceHauteur  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ConsequenceHauteur">
		<xsd:complexContent>
			<xsd:extension base="Consequence" />
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ConsequenceTexture  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ConsequenceTexture">
		<xsd:complexContent>
			<xsd:extension base="Consequence">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="nomTexture"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ContrainteHauteur  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ContrainteHauteur">
		<xsd:complexContent>
			<xsd:extension base="ConsequenceHauteur">
				<xsd:sequence>
					<xsd:element name="hauteurMax" type="xsd:double" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  DifferenceHauteur  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="DifferenceHauteur">
		<xsd:complexContent>
			<xsd:extension base="ConsequenceHauteur">
				<xsd:sequence>
					<xsd:element name="differenceHauteur" type="xsd:double" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Distance  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Distance">
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  DistanceEuclidienne  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="DistanceEuclidienne">
		<xsd:complexContent>
			<xsd:extension base="Distance">
				<xsd:sequence>
					<xsd:element name="dMin" type="xsd:double" />			
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  DistanceFHauteur  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="DistanceFHauteur">
		<xsd:complexContent>
			<xsd:extension base="Distance">
				<xsd:sequence>
					<xsd:element name="coefficient" type="xsd:double" />
					<xsd:element name="hauteurOrigine" type="xsd:double" />	
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Interdiction  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Interdiction">
		<xsd:complexContent>
			<xsd:extension base="Consequence" />
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  LimitationCES  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="LimitationCES">
		<xsd:complexContent>
			<xsd:extension base="Consequence">
				<xsd:sequence>
					<xsd:element name="cesMin" type="xsd:double" />
					<xsd:element name="cesMax" type="xsd:double" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  LimitationCOS  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="LimitationCOS">
		<xsd:complexContent>
			<xsd:extension base="Consequence">
				<xsd:sequence>
					<xsd:element name="cosMin" type="xsd:double" />
					<xsd:element name="cosMax" type="xsd:double" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  MinMax  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="MinMax">
		<xsd:sequence>
			<xsd:element name="VMin" type="xsd:double" />
			<xsd:element name="VMax" type="xsd:double" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Recul  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Recul">
		<xsd:complexContent>
			<xsd:extension base="Consequence" />
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ReculAutreBatiment  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ReculAutreBatiment">
		<xsd:complexContent>
			<xsd:extension base="Recul">
				<xsd:sequence>
					<xsd:element name="distanceRecul" type="Distance" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ReculBordure  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ReculBordure">
		<xsd:complexContent>
			<xsd:extension base="Recul">
				<xsd:sequence>
					<xsd:element name="distanceRecul" type="Distance" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ReculRoute  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ReculRoute">
		<xsd:complexContent>
			<xsd:extension base="Recul">
				<xsd:sequence>
					<xsd:element name="distanceRecul" type="Distance" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Regle  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Regle">
		<xsd:sequence>
			<xsd:element name="ID" type="xsd:int" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="antecedent"
				type="Antecedent" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="consequence"
				type="Consequence" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  RouteBordante  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="RouteBordante">
		<xsd:complexContent>
			<xsd:extension base="Antecedent">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="types"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="noms"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="lLargeursRoutes"
						type="MinMax" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  TypeBatiment  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="TypeBatiment">
		<xsd:complexContent>
			<xsd:extension base="Antecedent">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="nomTypes"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="nomTextures"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  ZonePLU  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="ZonePLU">
		<xsd:sequence>
			<xsd:element name="nom" type="xsd:string" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="regles"
				type="Regle" />
			<xsd:element name="LienDocument" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
